<body>
  <script>
  // ログイン中のユーザー情報を取得してJavaScript変数に代入する
  const currentUserPostalCode = '<%= current_user&.postal_code %>';
  const currentUserGender = '<%= current_user&.gender %>';
  </script>

  <main>
    <!-- コンテンツの表示 -->
    <div class="post">
      <div class="weather-space">
        <% if user_signed_in? %>
        <div class="weather-main" data-text="お天気コーデ"></div>
        <button id="refresh-button", class="button">おしてね</button>
        <% else %>
        <div class="weather-main" data-text="ログインすると表示するよ!"></div>
        <% end %>
        <div class="weather-todays">
          <div class="weather-times"><div id="current-time-later"></div>
            <div class="weather-temps">
              <div class="temps">
                <div id="temp-max" class="temp-max">?</div><p>℃<p>
              </div>
              <div class="temps">
                <div id="temp-min" class="temp-min">?</div><p>℃<p>
              </div>
            </div>
            <div class="weather-today">
              <div class="weather-rainy-name">降水確率
                <div id="weather-temperature", class="weather-title">%</div>
              </div>
              <div id="weather-icon", class="weather-icon"></div>
            </div>
          </div>

          <div class="weather-times"><div id="six-hours-later"></div>
            <div class="weather-temps">
              <div class="temps">
                <div id="temp-max9" class="temp-max">?</div><p>℃<p>
              </div>
              <div class="temps">
                <div id="temp-min9" class="temp-min">?</div><p>℃<p>
              </div>
            </div>
            <div class="weather-today">
              <div class="weather-rainy-name">降水確率
                <div id="weather-temperature9", class="weather-title">%</div>
              </div>
              <div id="weather-icon9", class="weather-icon"></div>
            </div>
          </div>

          <div class="weather-times"><div id="twelve-hours-later"></div>
            <div class="weather-temps">
              <div class="temps">
                <div id="temp-max15" class="temp-max">?</div><p>℃<p>
              </div>
              <div class="temps">
                <div id="temp-min15" class="temp-min">?</div><p>℃<p>
              </div>
            </div>
            <div class="weather-today">
              <div class="weather-rainy-name">降水確率
                <div id="weather-temperature15", class="weather-title">%</div>
              </div>
              <div id="weather-icon15", class="weather-icon"></div>
            </div>
          </div>

          <div class="weather-times"><div id="eighteen-hours-later"></div>
            <div class="weather-temps">
              <div class="temps">
                <div id="temp-max21" class="temp-max">?</div><p>℃<p>
              </div>
              <div class="temps">
                <div id="temp-min21" class="temp-min">?</div><p>℃<p>
              </div>
            </div>
            <div class="weather-today">
              <div class="weather-rainy-name">降水確率
                <div id="weather-temperature21", class="weather-title">%</div>
              </div>
              <div id="weather-icon21", class="weather-icon"></div>
            </div>
          </div>
          
        </div>

        
      </div>

      <% if user_signed_in? %>
      <div class="select-main">
        <div class="select-title">
        <%# <div id="text-container">
            <span id="moving-text">Hello, World!</span>
          </div> %>
        <%="💡今日の#{current_user.baby_name}ちゃんにおすすめ洋服💡" %></div>
          <div class="select-items">
            <div class="select-text" id="select-text">おすすめ組み合わせ</div>
            <div class="select-text-exp" id="select-text-exp"></div>
          </div>
        <div class="select-images">イメージがぞう
          <%= image_tag "test30g.jpg", alt:"イメージ", class:"select-image", id:"select-image" %>
        </div>

      </div>
      <% else %>
      <% end %>




      <div class="post-title-txet">みんなの洋服</div>
      <div class="post-items">
        <div class='main-post'>
          <div class='post-item'>
            <%= image_tag "1.png", class:"temp-image" %>
          </div>
          <div class="post-content">
            <h2>暑い日にぴったり</h2>
            <p>水色の服は、夏に着るのにぴったりの色です。爽やかで涼しげな印象を与えてくれるので、夏コーデにぜひ取り入れてみてください。</p>
          </div>
       </div>
        <div class='main-post'>
        <div class='post-item'>
          <%= image_tag "2.png", class:"temp-image" %>
          </div>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>これにより、ヘッダーはページの上部に、メインコンテンツは中央に、フッターはページの下部に配置されるはずです。
もし問題がある場合や他の修正が必要な場合は、お知らせください。お手数ですが、再度確認いただければ幸いです。</p>
          </div>
        </div>
        <div class='main-post'>
        <div class='post-item'>
          <%= image_tag "3.png", class:"temp-image" %>
          </div>
          <div class="post-content">
            <h2>投稿タイトル</h2>
            <p>コメント内容</p>
          </div>
        </div>
      </div>
    </div>
  </main>



</body>
