<div class=form-container-sessions>
  <h2>投稿機能</h2>

  <%= form_with(model: @garments, local: true) do |f| %>
    <div class="field">
      <%= f.label :画像 %><br />
      <%= f.file_field :image_name, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :コメント %><br />
      <%= f.text_field :content, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
</div>