<!DOCTYPE html>
<html>
  <head>
    <title>MyfirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=M+PLUS+Rounded+1c:wght@500&family=Tsukimi+Rounded&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header-content">
      <div class="title">おようふくえらび</div>
      <div class="login">
        <a href="#">ログイン</a>
        <a href="#">しんきとうろく</a>
      </div>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
